# Tavily API Key
TAVILY_API_KEY=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

# OpenRouter API Key - สมัครที่ https://openrouter.ai/
# ใส่ API key ที่นี่เพื่อเปิดใช้งาน AI
OPENROUTER_API_KEY=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

# Bank of Thailand API Token - สมัครที่ https://portal.api.bot.or.th/
BOT_API_TOKEN=eyJvcmciOiI2NzM1NzgwZWM4YzFlYjAwMDEyYTM3NzEiLCJpZCI6ImRjN2M3MWZiNTBkZTQzODM4YTI2M2QzZDhmYTdiNGI2IiwiaCI6Im11cm11cjEyOCJ9

# App URL
APP_URL=http://localhost:3000



# BOT Interest Rates API Token (แยกจาก Exchange Rate)
BOT_INTEREST_RATE_TOKEN=eyJvcmciOiI2NzM1NzgwZWM4YzFlYjAwMDEyYTM3NzEiLCJpZCI6IjdkN2MxOWNkOTM4MDRjYWViZmIwMzViMjFiNzZlNTZkIiwiaCI6Im11cm11cjEyOCJ9
